/* ALL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*//== ALL ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* BODY */
body {
    direction: rtl;
    background: linear-gradient(360deg, rgb(134, 134, 134), rgb(43, 40, 40));
    font-family: 'Almarai', sans-serif;
}
/*//== BODY ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* NAVBAR SECTION */
#navbar-list {
    text-align: right;
    font-weight: 500;
}
/*//== NAVBAR SECTION ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* MAIN SECTION */
main {
    width: 80%; 
    margin: 10vh auto 10vh auto;
    padding: 5VW;
    background-color: rgb(102, 100, 100);
    border-radius: 30%;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#main-title {
    font-size: 4vw;
    font-weight: 700;
    color: white;
    text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#main-subtitles {
    font-size: 2vw;
    font-weight: 500;
    color: white;
    text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#main-subtitles a {
    text-decoration: none;
    color: white;
    transition: color 0.5;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#main-subtitles a:hover {
    color: gold;
    font-weight: 600;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#to-doList {
    width: 100%;
    margin: 10vh auto 5vh auto;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#add-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* -------------------------------------------------------------------------------------------------------------------- */
#add-icon span {
    font-size: 2vw;
    transition: font-size 0.5s;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#add-icon span:hover {
    font-size: 4vw;
    
}
/*//== MAIN SECTION ==//*/
