/* ALL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*//== ALL ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* BODY */
body {
    direction: rtl;
    background: linear-gradient(360deg, rgb(134, 134, 134), rgb(43, 40, 40));
    font-family: 'Almarai', sans-serif;
}
/*//== BODY ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* NAVBAR SECTION */
#navbar-list {
    text-align: right;
    font-weight: 500;
}
/*//== NAVBAR SECTION ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* MAIN SECTION */
main {
    width: 80%; 
    margin: 10vh auto 10vh auto;
    padding: 5VW;
    background-color: rgb(102, 100, 100);
    border-radius: 15%;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#main-title {
    font-size: 4vw;
    font-weight: 700;
    color: white;
    text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#main-subtitles {
    font-size: 2vw;
    font-weight: 500;
    color: white;
    text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#main-subtitles a {
    text-decoration: none;
    color: white;
    transition: color 0.5;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#main-subtitles a:hover {
    color: gold;
    font-weight: 600;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#to-doList {
    width: 100%;
    margin: 10vh auto 5vh auto;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#add-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* -------------------------------------------------------------------------------------------------------------------- */
#add-icon #add {
    font-size: 2vw;
    transition: font-size 0.5s;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#add-icon #add:hover {
    font-size: 4vw;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#list-titles {
    font-size: 1.7vw;
    font-weight: 500;
    margin: auto;
    margin-bottom: 6vh;
    text-align: center;
    background-color: white;
} 
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#list {
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
    margin: auto;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
#list-form {
    background-color: white;
    transition: background-color 0.8s;
}
#list-form:hover {
    background-color: gold;
}
/* -------------------------------------------------------------------------------------------------------------------- */
.center-list {
    color: white; 
    width: 33.3%; 
    height: 3vh; 
    border-radius: 50%; 
    padding: 1.5vw;
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 0.3s;
}
/* -------------------------------------------------------------------------------------------------------------------- */
.center-list:hover {
    padding: 1.8vw;
    cursor: pointer;
}
/*//== MAIN SECTION ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* TASK FORM */
#task-form {
    width: 79vw;
    margin: 0 auto;
    padding: 4vw;
    background: linear-gradient(-45deg, silver, gray);
    border-radius: 20%;
    position: fixed;
    top: 20vh;
    right: 10vw;
    visibility: hidden;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#task-form label {
    font-size: 1.3vw;
    font-size: 700;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#task-form input {
    width: 80%;
    margin: auto;
    height: 10vh;
    font-size: 1.4vw;
    padding: 5vh;
    border-radius: 20%;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#submit-btn, #cancel-btn {
    width: 40%;
    margin: auto;
    height: 10vh;
    font-size: 1.3vw;
    font-weight: 700;
    padding: 4vh;
    border-radius: 20%;
    color: white;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#submit-btn:hover, #cancel-btn:hover {
    padding: 5.5vh;
    color: gold;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#submit-btn {
    background-color: green;
    border: none;
}
/* -------------------------------------------------------------------------------------------------------------------- */
#cancel-btn {
    background-color: red;
    border: none;
}
/*//== TASK FORM ==//*/
/* ===================================================================================================================== */
/* ===================================================================================================================== */
/* ===================================================================================================================== */

